{% extends "dashboard.html" %}


{% block body %}

<div class="col-12 bg-white shadow-sm p-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Mes notes</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Matière</th>
						<th scope="col">Moyenne</th>
						<th scope="col">Crédit</th>
						<th scope="col">Type</th>
						<th scope="col">Date</th>
						<th scope="col">Semestre</th>
						<th scope="col">Année</th>
					</tr>
				</thead>
				<tbody>
					{% for note in etudiant.notes.all %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ note.evaluation.matiere.nom }}</td>
						<td>{{ note.moyenne }}</td>
						<td>{{ note.evaluation.matiere.credit }}</td>
						<td>{{ note.evaluation.type_evaluation }}</td>
						<td>{{ note.evaluation.date }}</td>
						<td>{{ note.evaluation.matiere.module.semestre }}</td>
						<td>{{ note.evaluation.annee }}</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}