{% extends "dashboard.html" %}

{% block body %}
{% url "etudiants:etudiant" etudiant.pk as etudiant_detail_url %}
{% url "etudiants:inscription" etudiant.pk as etudiant_inscription_url %}
{% url "etudiants:editer" etudiant.pk as update_etudiant_url %}

<div class="bg-white shadow-sm p-3 mb-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Informations</h2>
		</div>
		<div class="col-auto ms-auto">
			{% if request.path == etudiant_detail_url %}
			<a class="btn btn-secondary me-2" href="{{ update_etudiant_url }}" role="button">Editer</a>
			<a class="btn btn-secondary ms-1" href="{{ etudiant_inscription_url }}" role="button">Inscrire</a>
			{% else %}
			<a href="{{ etudiant_detail_url }}" class="link-secondary text-decoration-none">Fermer</a>
			{% endif %}
		</div>
	</div>
	<div class="row row-cols-2 m-0" method="POST">
		{% csrf_token %}
		<div class="col-3 p-0 mr-3">
			<img class="img-fluid" src="{{ etudiant.compte.photo.url }}">
		</div>
		<div class="col-9 px-3 py-0">
			<div class="row row-cols-3 border-top border-bottom ms-0 pt-2 h-100">
				<div class="col-4 ps-0">
					<p class="m-0"><small class="h7 text-decoration-none">Matricule</small></p>
					<p class="mb-1 h6">{{ etudiant.matricule }}</p>
					<p class="m-0">Nom</p>
					<p class="mb-1 h6">{{ etudiant.nom }}</p>
					<p class="m-0">Prénom</p>
					<p class="mb-1 h6">{{ etudiant.prenom }}</p>
					<p class="m-0">Pays</p>
					<p class="mb-1 h6">{{ etudiant.pays }}</p>
					<p class="m-0">Sexe</p>
					<p class="mb-1 h6">
						{% if etudiant.sexe == 'M' %}
						Masculin
						{% else %}
						Féminin
						{% endif %}
					</p>
				</div>
				<div class="col-auto">
					<p class="m-0">Date de naissance</p>
					<p class="mb-1 h6">{{ etudiant.date_de_naissance }}</p>
					<p class="m-0">Groupe sanguin</p>
					<p class="mb-1 h6">{{ etudiant.groupe_sanguin }}</p>
					<p class="m-0">Email</p>
					<p class="mb-1 h6">{{ etudiant.compte.email }}</p>
					<p class="m-0">Téléphone</p>
					<p class="mb-1 h6">{{ etudiant.compte.telephone }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 mt-3">
		{% if details.count != 0 %}
		<table class="table table-striped table-sm">
			<tbody>
				{% for inscription in details %}
				<tr>
					<td class="h6">{{ inscription.specialite.nom }}</td>
					<td class="h6">{{ inscription.grade }}</td>
					<td class="h6">{{ inscription.annee }}</td>
				</tr>
				{% endfor  %}
			</tbody>
		</table>
		{% endif %}
	</div>
	{% if request.path == etudiant_inscription_url %}
	<form class="row gx-3 mt-3" method="POST">
		{% csrf_token %}
		<div class="col-5">
			<div class="form-floating">
				{{ form.specialite }}
				<label for="floatingInput">Spécialité</label>
			</div>
		</div>
		<div class="col-7">
			<div class="row row-cols-3 gx-3">
				<div class="col">
					<div class="form-floating">
						{{ form.grade }}
						<label for="floatingInput">Grade</label>
					</div>
				</div>
				<div class="col">
					<div class="form-floating">
						{{ form.annee }}
						<label for="floatingInput">Année académique</label>
					</div>
				</div>
				<div class="col">
					<button type="submit" class="btn btn-lg btn-primary w-100 h-100">Inscrire</button>
				</div>
			</div>
		</div>
	</form>
	{% elif request.path == update_etudiant_url %}
	<form class="row g-3" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="col-9">
			<div class="row row-cols-2 gx-3">
				<div class="col">
					<div class="form-floating mb-3 d-flex">
						{{ form.nom }}
						<label for="floatingInput">Nom</label>
					</div>
				</div>
				<div class="col">
					<div class="form-floating mb-3">
						{{ form.prenom }}
						<label for="floatingInput">Prénom</label>
					</div>
				</div>
			</div>
			<div class="row row-cols-3 gx-3">
				<div class="col">
					<div class="form-floating d-flex">
						{{ form.sexe }}
						<label for="floatingInput">Sexe</label>
					</div>
				</div>
				<div class="col">
					<div class="form-floating d-flex">
						{{ form.pays }}
						<label for="floatingInput">Pays</label>
					</div>
				</div>
				<div class="col">
					<div class="form-floating">
						{{ form.telephone }}
						<label for="floatingInput">Téléphone</label>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-3">
			<div class="col-12">
				<div class="form-floating mb-3">
					{{ form.date_de_naissance }}
					<label for="floatingInput">Date de naissance</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating">
					{{ form.groupe_sanguin }}
					<label for="floatingInput">Groupe sanguin</label>
				</div>
			</div>
		</div>
		<div class="col-6">
			{{ form.photo }}
		</div>
		<div class="col-6">
			<button type="submit" class="w-100 stretch btn btn-lg btn-primary">Enregistrer</button>
		</div>
	</form>
	{% endif %}
</div>

{% if matieres %}
<div class="col-12 bg-white shadow-sm p-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Matières</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">Code</th>
						<th scope="col">Matière</th>
						<th scope="col">Crédit</th>
						<th scope="col">Module</th>
						<th scope="col">Semestre</th>
						<th scope="col">Grade</th>
					</tr>
				</thead>
				<tbody>
					{% for matiere in matieres %}
					<tr>
						<td>{{ matiere.code }}</td>
						<td>{{ matiere.nom }}</td>
						<td>{{ matiere.credit }}</td>
						<td>{{ matiere.module.nom }}</td>
						<td>{{ matiere.module.semestre }}</td>
						<td>{{ matiere.module.grade }}</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}


<!-- <div class="col-12 bg-white shadow-sm p-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Matières en charge</h2>
		</div>
		<div class="col-auto ms-auto">
			{% if request.path == list_enseignant_url %}
			<a class="btn btn-secondary" href="{{ add_enseignant_url }}" role="button">Ajouter</a>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Code</th>
						<th scope="col">Matière</th>
						<th scope="col">Crédit</th>
						<th scope="col">Semestre</th>
						<th scope="col">Annéé</th>
					</tr>
				</thead>
				<tbody>
					{% for programme in programmes %}
					
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ programme.matiere.code }}</td>
						<td>{{ programme.matiere.nom }}</td>
						<td>{{ programme.matiere.credit }}</td>
						<td>{{ programme.matiere.module.semestre }}</td>
						<td>{{ programme.annee.annee }}</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>
</div> -->
{% endblock %}