{% extends "dashboard.html" %}


{% block body %}
{% url "parcours:ajouter_domain" as add_domain_url %}
{% url "parcours:domains" as list_domain_url %}

{% if request.path == add_domain_url %}
<div class="col-12 bg-white shadow-sm p-3 pb-4 mb-3">
	<div class="row row-cols-2 mb-4">
		<div class="col">
			<h2 id="">Ajouter un domain</h2>
		</div>
		<div class="col-auto ms-auto">
			<a href="{{ list_domain_url }}" class="link-secondary text-decoration-none">Fermer</a>
		</div>
	</div>
	<form class="row row-cols-2 g-3" method="POST">
		{% csrf_token %}
		<div class="col">
			<div class="form-floating mb-3">
				{{ form.nom }}
				<label for="floatingInput">Domaine</label>
			</div>
			<button type="submit" class="btn btn-lg btn-primary w-100">Enregistrer</button>
		</div>
	</form>
</div>
{% endif %}

<div class="col-12 bg-white shadow-sm p-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Liste de domaines</h2>
		</div>
		<div class="col-auto ms-auto">
			{% if request.path == list_domain_url %}
			<a class="btn btn-secondary" href="{{ add_domain_url }}" role="button">Ajouter</a>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Domain</th>
					</tr>
				</thead>
				<tbody>
					{% for domain in domains %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ domain.nom }}</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}