{% extends "dashboard.html" %}

{% block body %}
<div class="bg-white shadow-sm p-3">
	<div class="row mb-3">
		<h2>Ajouter un domain</h2>
	</div>
	<form class="row row-cols-2 g-3" method="POST">
		{% csrf_token %}
		<div class="col">
			<div class="form-floating mb-3">
				{{ form.domain }}
				<label for="floatingInput">Domaine</label>
			</div>
			<div class="form-floating mb-3">
				{{ form.nom }}
				<label for="floatingInput">Mention</label>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary">Enregistrer</button>
		</div>
	</form>
</div>
{% endblock %}