{% extends "dashboard.html" %}


{% block body %}
{% url "parcours:ajouter_specialite" as add_specialite_url %}
{% url "parcours:specialites" as list_specialite_url %}

{% if request.path == add_specialite_url %}
<div class="col-12 bg-white shadow-sm p-3 pb-4 mb-3">
	<div class="row row-cols-2 mb-4">
		<div class="col">
			<h2 id="">Ajouter une spécialité</h2>
		</div>
		<div class="col-auto ms-auto">
			<a href="{{ list_specialite_url }}" class="link-secondary text-decoration-none">Fermer</a>
		</div>
	</div>
	<form class="row row-cols-2 g-3" method="POST">
		{% csrf_token %}
		<div class="col">
			<div class="form-floating mb-3">
				{{ form.mention }}
				<label for="floatingInput">Mention</label>
			</div>
			<div class="form-floating mb-3">
				{{ form.nom }}
				<label for="floatingInput">Spécialité</label>
			</div>
			<div class="row row-cols-2 gx-3">
				<div class="col">
					<div class="form-floating">
						{{ form.sigle }}
						<label for="floatingInput">Sigle</label>
					</div>
				</div>
				<div class="col">
					<button type="submit" class="btn btn-lg btn-primary w-100 h-100">Enregistrer</button>
				</div>
			</div>			
		</div>
	</form>
</div>
{% endif %}

<div class="col-12 bg-white shadow-sm p-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Liste de spécialités</h2>
		</div>
		<div class="col-auto ms-auto">
			{% if request.path == list_specialite_url %}
			<a class="btn btn-secondary" href="{{ add_specialite_url }}" role="button">Ajouter</a>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Domain</th>
						<th scope="col">Mention</th>
						<th scope="col">Spécialité</th>
						<th scope="col">Sigle</th>
					</tr>
				</thead>
				<tbody>
					{% for specialite in specialites %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ specialite.mention.domain.nom }}</td>
						<td>{{ specialite.mention.nom }}</td>
						<td>{{ specialite.nom }}</td>
						<td>{{ specialite.sigle }}</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}