{% extends "base.html" %}



{% block content %}
{% include "navbar.html" %}
<div class="d-flex align-items-center d-flex justify-content-center bg-light" id="login" >
	<div class="col-3 p-3 shadow" id="center">
		<div class="mb-5">
			<h4>Definir votre mot de passe</h4>
		</div>

		<form action="" method="POST" class="w-100" autocomplete="off">
			{% csrf_token %}
			<div class="form-floating mb-3">
				{{ form.new_password1 }}
				<label for="floatingInput">Nouveau mot de passe</label>
			</div>
			<div class="form-floating mb-3">
				{{ form.new_password2 }}
				<label for="floatingPassword">Confirmer mot de passe</label>
			</div>
			<div>
				<button type="submit" class="w-100 btn btn-lg btn-primary">Valider</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}