{% extends "dashboard.html" %}


{% block body %}
<div class="bg-white shadow-sm p-3 mb-3">
	<div class="row row-cols-2 mb-3">
		<div class="col">
			<h2>Mes informations</h2>
		</div>
	</div>
	<div class="row row-cols-2 m-0" method="POST">
		<div class="col-3 p-0 mr-3">
			<img class="img-fluid" src="{{ request.user.photo.url }}">
		</div>
		{% if request.user.type_de_compte == 'EN' %}
		<div class="col-9 px-3 py-0">
			<div class="row row-cols-3 border-top border-bottom ms-0 pt-2 h-100">
				<div class="col-4 ps-0">
					<p class="m-0"><small class="h7 text-decoration-none">Matricule</small></p>
					<p class="mb-2 h6">{{ request.user.enseignant.matricule }}</p>
					<p class="m-0">Nom</p>
					<p class="mb-2 h6">{{ request.user.enseignant.nom }}</p>
					<p class="m-0">Prénom</p>
					<p class="mb-2 h6">{{ request.user.enseignant.prenom }}</p>
					<p class="m-0">pays</p>
					<p class="mb-2 h6">{{ request.user.enseignant.pays }}</p>
				</div>
				<div class="col-auto">
					<p class="m-0">Sexe</p>
					<p class="mb-2 h6">
						{% if request.user.enseignant.sexe == 'M' %}
						Masculin
						{% else %}
						Féminin
						{% endif %}
					</p>
					<p class="m-0">Date de naissance</p>
					<p class="mb-2 h6">{{ request.user.enseignant.date_de_naissance }}</p>
					<p class="m-0">Email</p>
					<p class="mb-2 h6">{{ request.user.email }}</p>
					<p class="m-0">Téléphone</p>
					<p class="mb-2 h6">{{ request.user.telephone }}</p>
				</div>
			</div>
		</div>
		{% elif request.user.type_de_compte == 'ET' %}
		<div class="col-9 px-3 py-0">
			<div class="row row-cols-3 border-top border-bottom ms-0 pt-2 h-100">
				<div class="col-4 ps-0">
					<p class="m-0"><small class="h7 text-decoration-none">Matricule</small></p>
					<p class="mb-2 h6">{{ request.user.etudiant.matricule }}</p>
					<p class="m-0">Nom</p>
					<p class="mb-2 h6">{{ request.user.etudiant.nom }}</p>
					<p class="m-0">Prénom</p>
					<p class="mb-2 h6">{{ request.user.etudiant.prenom }}</p>
					<p class="m-0">pays</p>
					<p class="mb-2 h6">{{ request.user.etudiant.pays }}</p>
					<p class="m-0">Sexe</p>
					<p class="mb-2 h6">
						{% if request.user.etudiant.sexe == 'M' %}
						Masculin
						{% else %}
						Féminin
						{% endif %}
					</p>
				</div>
				<div class="col-auto">
					<p class="m-0">Date de naissance</p>
					<p class="mb-2 h6">{{ request.user.etudiant.date_de_naissance }}</p>
					<p class="m-0">Groupe sanguin</p>
					<p class="mb-2 h6">{{ request.user.etudiant.groupe_sanguin }}</p>
					<p class="m-0">Email</p>
					<p class="mb-2 h6">{{ request.user.email }}</p>
					<p class="m-0">Téléphone</p>
					<p class="mb-2 h6">{{ request.user.telephone }}</p>
				</div>
			</div>
		</div>

		<div class="col-12 mt-3">
			<table class="table table-striped table-sm">
				<tbody>
					{% for inscription in request.user.etudiant.inscriptions.all %}
					<tr>
						<td class="h6">{{ inscription.specialite.nom }}</td>
						<td class="h6">{{ inscription.grade }}</td>
						<td class="h6">{{ inscription.annee }}</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
		</div>
		{% else %}
		<div class="col-9 px-3 py-0">
			<div class="row row-cols-3 border-top border-bottom ms-0 pt-2 h-100">
				<div class="col-4 ps-0">
					<p class="m-0"><small class="h7 text-decoration-none">Matricule</small></p>
					<p class="mb-2 h6">{{ request.user.staff.matricule }}</p>
					<p class="m-0">Nom</p>
					<p class="mb-2 h6">{{ request.user.staff.nom }}</p>
					<p class="m-0">Prénom</p>
					<p class="mb-2 h6">{{ request.user.staff.prenom }}</p>
					<p class="m-0">pays</p>
					<p class="mb-2 h6">{{ request.user.staff.pays }}</p>
				</div>
				<div class="col-auto">
					<p class="m-0">Sexe</p>
					<p class="mb-2 h6">
						{% if request.user.staff.sexe == 'M' %}
						Masculin
						{% else %}
						Féminin
						{% endif %}
					</p>
					<p class="m-0">Date de naissance</p>
					<p class="mb-2 h6">{{ request.user.staff.date_de_naissance }}</p>
					<p class="m-0">Email</p>
					<p class="mb-2 h6">{{ request.user.email }}</p>
					<p class="m-0">Téléphone</p>
					<p class="mb-2 h6">{{ request.user.telephone }}</p>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}